.main-container {
  background-size: cover;
  background-position: center;
  background-color: cadetblue;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.drop-down{
  display: flex;
  justify-content: center;
}
label {
  font-size: large;
  outline: none;
}
.citys {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  font-size: medium;
  outline: none;
  margin-bottom: 10px;
}
.city{
  background-color: cadetblue;

}

.date {
  font-size: 25px;
  color: black;
  font-weight: 700;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1e2432;
  text-align: center;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #ff8c00;
}

.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .search {
    width: 70%;
    text-align: center;
  }

  .city {
    padding: 40px 20%;
  }
}

.weather{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  padding: 40px 8%;
  border-radius: 20px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
  margin:10px 4px;
}
.card{
  display: flex;
  flex-direction: column;
background-color: cadetblue;
  margin: 5px;
  justify-content:center;
  font-weight: 5rem;
  width: 150px;
  
}